.sidebar {
  flex: 0.2;
  padding-right: 20px;
}

.sidebar__compose {
  margin-top: 15px !important;
  margin-left: 10px !important;
  margin-bottom: 15px !important;
  text-transform: capitalize !important;
  color: grey;
  padding: 15px !important;
  border-radius: 30px !important;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.sidebar > a {
  text-decoration: none;
}

a.active-link > .sidebarOption {
  background-color: #fcecec;
  color: #c04b37;
}

a.active-link h3 {
  font-weight: 700 !important;
}

a.active-link p {
  display: inline !important;
  font-weight: 700 !important;
}

.sidebar__footer {
  display: flex;
  justify-content: center;
}
